html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Proxima-Nova', Arial, Helvetica, sans-serif;
}

header {
  background: #7ABEFF;
  font-size: 26px;
  border-bottom: 2px solid #DEF1FF;
  margin-bottom: 20px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 5px #4675C3;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #7ABEFF;
  z-index: 99;
}

.container {
  min-width: 340px;
  max-width: 1024px;
  margin: 0 auto;
}

[class*="con-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.con-100 {
  width: 100%;  
}

.con-25 {
  width: 25%;  
}

#profileListCon {
  float: left;
  padding-bottom: 40px;
}

.profile-card {
  background-color: #26619B;
  border-radius: 8px;
  height: 340px;
  color: #fff;
  font-size: 12px;
  padding: 10px 5px;
  margin-bottom: 20px;
}

.profile-card > div {
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-card label {
  font-weight: bold;
}

.profile-card .map-container {
  width: 100%;
  height: 160px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 5px;
  float: left;
  border: 1px solid;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .con-md-33 {
    width: 33.33%;
  }
}

@media screen and (max-width: 640px) {
  .con-sm-50 {
    width: 50%;
  }
}

@media screen and (max-width: 440px) {
  .con-xs-100 {
    width: 100%;
  }    
}